html{
	height: 100%;
}

body{
	font-family: Arial, sans-serif;
	font-size: 16px;
	background: #eeeeee;
    margin: 0;
    padding: 0;
    color: black;
}

ul{
	list-style: none;
}


aside {
    background: white;
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px;
    /*-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);*/
}
article{
    padding: 10px 20px 10px 20px;
    background: white;
    margin-top: 30px;
    border-radius: 3px;
}
header{
    position: relative;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #109c83;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #109c83;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.success{
    color: #28a745;
    margin-top: 5px;
}
.errors{
    color: #bb2e2e;
    margin-top: 5px;
}
.login{
    height: 400px;
    padding: 50px;
    background: white;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.submit_login{
    position: absolute;
    margin-top: 60px;
    margin-left: 110px;
    padding: 3px 16px 3px 16px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.submit_login:hover{
    padding: 5px 18px 5px 18px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}

.submit_exit{
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #109c83;
    background: #10252e;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.submit_exit:hover{
    padding: 3px 17px 3px 17px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.h_ul li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}
.h_ul{
    margin-left: 30px;
}
.submit_account{
    padding: 6px 11px 6px 11px;
    text-decoration: none;
    color: #109c83;
    background: #10252e;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.submit_account:hover{
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.submit_headerInfo{
    padding: 6px 11px 6px 11px;
    text-decoration: none;
    color: #109c83;
    background: #10252e;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.submit_headerInfo:hover{
    padding: 7px 12px 7px 12px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.submit_update{
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    padding: 3px 16px 3px 16px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.GMAP{
    margin-top: 30px;
}
.submit_update:hover{
    padding: 5px 18px 5px 18px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.h4-b{
    border-bottom: solid #079a80 2px;
}
.footer{
    bottom: 0;
    margin-top: 100px;
    height: 50px;
    background: #10252e;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
}

.news-link:hover{
    text-decoration: none;
    transition: .5s;
    color: #079a80;
}
.author ul>li{
    margin: 0;
    display: inline-block;
}
.author ul{
    padding: 0;
    display: inline-block;
}
.news-link{
    text-decoration: none;
    color: black;
}

.btn-fb{
    padding: 10px 16px 10px 16px;
    position: absolute;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.btn-fb:hover{
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
#news-link{
    text-decoration: none;
    color: white;
    background: #109c83;
    line-height: 44px;
    padding: 10px 16px 10px 16px;
    font-weight: bold;
    transition: .7s;

}
#news-link:hover{
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    line-height: 44px;
    transition: .7s;
    padding: 10px 16px 10px 16px;
    font-weight: bold; 
    opacity: 1;
}
.a-pag{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    left: 150px;
    text-decoration: none;
    color: white;
    background: #109c83;
    line-height: 44px;
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    transition: .7s;
}
.a-pag:hover{
   text-decoration: none;
   color: #109c83;
   background: white;
   border: 2px solid #109c83;
   line-height: 44px;
   transition: .7s;
   padding: 2px 5px 2px 5px;
   font-weight: bold; 
   opacity: 1;
}

.header_info li{
    margin-top:10px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: -20px;
}
.logo2{
    color: black;
    font-weight: bold;
    font-size: 12pt;
}
.fa-phone{
    color: #109c83;
    font-weight: bold;
}
.fa-calendar{
     color: #109c83;
    font-weight: bold;
}
.fa-user{
     color: #109c83;
    font-weight: bold;
}

.fa-envelope{
    color: #109c83;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    margin-left: 20px;
}

.logo{
    margin-left: 20px;
}

.form-inline{
    margin-right: 20px;
}
.logo_image{
    margin: 20px 0px 20px 0px;
    width: 350px;
    height: 70px;
}

.feedback{
    height: 330px;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    background: white;
   /* -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;*/
}
#email{
    margin-top: 20px;
}
#error{
    margin-left: 150px;
    color: red;
}
@media (max-width: 993px) { 
    .feedback{
        margin-top: 50px;
    }
}
@media (max-width: 960px) { 
   .h_ul{
        margin-left: -60px;
    }
}