@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book'), local('FiraSans-Book'), url('../fonts/Firasansbook.woff2') format('woff2'), url('../fonts/Firasansbook.woff') format('woff'), url('../fonts/Firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
html{
	height: 100%;
    text-decoration: none;
    outline: none;
}

body{
	font-family: Fira Sans;
	font-size: 17px;
	background: #eeeeee;
    margin: 0;
    padding: 0;
    color: black;
}

li{
	list-style: none;
}

aside {
    background: white;
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px;
    /*-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);*/
}
article{
    padding: 10px 20px 10px 20px;
    background: white;
    margin-top: 30px;
    border-radius: 3px;
}
header{
    position: relative;
}
embed{
    margin-top: 5px;
    margin-bottom: 20px;
    height: auto;
    width: auto;

}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #109c83;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #109c83;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
.header-top{
    background-color: #10252e;
}
.pdf{
    width: 100%;
    height: 500px;
}
.documents{
    text-decoration: none;
    font-size: 20px;
}
.elearning{
    padding: 10px 20px 10px 20px;
    background: white;
    margin-top: 30px;
    border-radius: 3px;
}
.about{
    padding: 10px 20px 10px 20px;
    background: white;
    margin-top: 30px;
    border-radius: 3px;
}
.active{
    display: block;
    position:absolute;
    height: 40px;
    border-bottom: solid #109c83;
    color: #109c83 !important;
    
}
.nav-link {
    text-decoration:none;
    cursor: pointer;
    position:relative;
}
.nav-link:after {
    border-bottom: solid #109c83;
    display: block;
    content: "";
    height: 7px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.nav-link:hover:after,
.nav-link:focus:after {
    width: 95%;
}
.success{
    color: #28a745;
    margin-top: 5px;
}
.errors{
    color: #bb2e2e;
    margin-top: 5px;
}
.login{
    height: 400px;
    padding: 50px;
    background: white;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.submit_login{
    position: absolute;
    margin-top: 60px;
    margin-left: 110px;
    padding: 3px 16px 3px 16px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.submit_login:hover{
    padding: 5px 18px 5px 18px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}

.submit_exit{
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #488acc;
    background: #10252e;
    border-radius: 3px;
    border: solid #488acc;
    font-weight: bold;
    transition: .7s;
}
.submit_exit:hover{
    padding: 3px 17px 3px 17px;
    text-decoration: none;
    color: white;
    background: #488acc;
    border: 2px solid #488acc;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}

.addNews{
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #488acc;
    background: white;
    border-radius: 3px;
    border: solid #488acc;
    font-weight: bold;
    transition: .7s;
}
.addNews:hover{
    padding: 3px 17px 3px 17px;
    text-decoration: none;
    color: white;
    background: #488acc;
    border: 2px solid #488acc;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.photo{
    margin: 10px;

}
.h_ul li{
    display: inline-block;
    margin-left: 10px;
    margin-top: 7px;
}
.h_ul{
    margin-left: 30px;
}
.submit_account{
    padding: 6px 11px 6px 11px;
    text-decoration: none;
    color: #488acc;
    background: #10252e;
    border-radius: 3px;
    border: solid #488acc;
    font-weight: bold;
    transition: .7s;
}
.submit_account:hover{
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    color: white;
    background: #488acc;
    border: 2px solid #488acc;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.submit_headerInfo{
    padding: 6px 11px 6px 11px;
    text-decoration: none;
    color: #488acc;
    background: #10252e;
    border-radius: 3px;
    border: solid #488acc;
    font-weight: bold;
    transition: .7s;
}
.submit_headerInfo:hover{
    padding: 7px 12px 7px 12px;
    text-decoration: none;
    color: white;
    background: #488acc;
    border: 2px solid #488acc;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.submit_update{
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    padding: 3px 16px 3px 16px;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.GMAP{
    margin-top: 30px;
}
.gallery img{
    margin:5px;
    border:3px solid #fff;
}
a.photo:hover img{
    border:3px solid #034F80;
}
.submit_update:hover{
    padding: 5px 18px 5px 18px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.h4-b{
    border-bottom: solid #079a80 2px;
    text-align: center;
}
.footer{
    margin-top: 169px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #10252e;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
}

.news-link:hover{
    text-decoration: none;
    transition: .5s;
    color: #079a80;
}
.author ul>li{
    margin: 0;
    display: inline-block;
}
.author ul{
    padding: 0;
    display: inline-block;
}
.news-link{
    text-decoration: none;
    color: black;
}

.btn-fb{
    padding: 10px 16px 10px 16px;
    position: absolute;
    text-decoration: none;
    color: white;
    background: #109c83;
    border-radius: 3px;
    border: solid #109c83;
    font-weight: bold;
    transition: .7s;
}
.btn-fb:hover{
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
#news-link{
   /* margin-left: 640px;*/
    text-decoration: none;
    color: white;
    background: #109c83;
    line-height: 44px;
    padding: 10px 16px 10px 16px;
    font-weight: bold;
    transition: .7s;

}
#news-link:hover{
    text-decoration: none;
    color: #109c83;
    background: white;
    border: 2px solid #109c83;
    line-height: 44px;
    transition: .7s;
    padding: 10px 16px 10px 16px;
    font-weight: bold; 
    opacity: 1;
}
.removeNews{
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #d54747;
    background: white;
    border-radius: 3px;
    border: solid #d54747;
    font-weight: bold;
    transition: .7s;
}
.removeNews:hover{
    padding: 3px 17px 3px 17px;
    text-decoration: none;
    color: white;
    background: #d54747;
    border: 2px solid #d54747;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.removeAbout{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #d54747;
    background: white;
    border-radius: 3px;
    border: solid #d54747;
    font-weight: bold;
    transition: .7s;
}
.removeAbout:hover{

    padding: 3px 17px 3px 17px;
    text-decoration: none;
    color: white;
    background: #d54747;
    border: 2px solid #d54747;
    transition: .7s;
    font-weight: bold; 
    opacity: 1;
}
.a-pag{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    left: 150px;
    text-decoration: none;
    color: white;
    background: #109c83;
    line-height: 44px;
    padding: 4px 8px 4px 8px;
    font-weight: bold;
    transition: .7s;
}
.a-pag:hover{
   text-decoration: none;
   color: #109c83;
   background: white;
   border: 2px solid #109c83;
   line-height: 44px;
   transition: .7s;
   padding: 2px 5px 2px 5px;
   font-weight: bold; 
   opacity: 1;
}

.header_info li{
    margin-top:10px;
    position: relative;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: -20px;
}
.fa-envelope{
    margin-left: 20px;
}
#AddNewsForm{
    background: #b1c8f7;
    margin-top: 50px;
    padding: 20px;
    background: white;
}
#AddContactsForm{
    padding: 20px;
    background: white;
}
#AddDocumentsForm{
     -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    padding: 20px;
    background: white;
}
#AddAccordionForm{
    padding: 20px;
    background: white;
}
.about_form{
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}
.logo2{
    color: black;
    font-weight: bold;
    font-size: 12pt;
}
.fa-phone{
    color: #109c83;
    font-weight: bold;
}
.fa-calendar{
     color: #109c83;
    font-weight: bold;
}
.fa-user{
     color: #109c83;
    font-weight: bold;
}

.fa-envelope{
    color: #109c83;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    margin-left: 20px;
}

.logo{
    margin-left: 20px;
}

.form-inline{
    margin-right: 20px;
}
.logo_image{
    margin: 20px 0px 20px 0px;
    width: 350px;
    height: 70px;
}

.feedback{
    height: 330px;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    background: white;
   /* -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 3px;*/
}
#email{
    margin-top: 20px;
}
#error{
    margin-left: 150px;
    color: red;
}
.clr-full{
    background-color: white; 
    -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.23);
}
.navbar{
    background-color: white; 
    margin-top: 10px;
    font-weight: bold;
}
.footer{
    font-size: 12px;
}
/* стили блока аккордеон */
.accordion {
  width:100%;
  max-width: 600px; 
}
/* секции аккордеона */
.accordion .accordion_item {
  margin-bottom:1px;
  position:relative
}
/* заголовки панелей аккордеона */
.accordion .title_block {
  font-weight: 400;
  font-size: 18px;
  color: #eee;
  cursor:pointer;
  background: #009688;
  padding:10px 55px 10px 15px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0
}
/* переключатель панелей, положение вниз */
.accordion .title_block:before {
  content:'';
  height:8px;
  width:8px;
  display:block;
  border:2px solid #fefefe;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  right:20px;
  top:18px
}
/* активный переключатель, положение вверх */
.accordion .active_block .title_block:before {
  border:2px solid #fefefe;
  border-left-width:0;
  border-bottom-width:0;
  top:18px
}
.accordion .title_block:hover {
  background: #26A69A  
}
 
/* заголовок активного блока  */
.accordion .active_block .title_block {
  background: #26A69A;
  color:#fefefe
}
/* блоки с содержанием */
.accordion .info {
  display:none;
  padding:10px 15px;
  overflow: hidden;
  background:#f7f7f7
}
/* параграф внутри блоков с содержанием */
.accordion .info_item {
  margin-bottom:10px
}
/* картинки внутри аккордеона */
.accordion .info img {
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* полноразмерная картинка */
.large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
.img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
.img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}
@media (max-width: 993px) { 
    .feedback{
        margin-top: 50px;
    }
}
@media (max-width: 960px) { 
   .h_ul{
        margin-left: -60px;
    }
}